[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-sqlalchemy = "==3.0.3"
flask-wtf = "==1.1.1"
itsdangerous = "==2.1.2"
pillow = "==9.4.0"
wtforms = "==2.3.3"
psycopg2-binary = "*"
python-dotenv = "*"

[dev-packages]

[requires]
python_version = "3.9"
