/* Website name */
.navbar-brand {
  font-family: 'Comic Sans MS';
  font-size: 1.75rem;
  font-weight: 500;
  color: white;
}

/* Title bar */
.top-nav {
  position: fixed;
  text-align: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  background-color: #1a1a1b;
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-shadow: 0px -1px 10px #343536;
  border-bottom: 2px solid #343536; 
  z-index: 9999; /* add a high z-index value to make sure the menu appears on top of other elements */
}

/* Bottom Menu */
.bottom-menu{
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50px;
  background-color: #1a1a1b;
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-shadow: 0px -1px 10px #343536;
  border-top: 2px solid #343536; 
  z-index: 9999; /* add a high z-index value to make sure the menu appears on top of other elements */
}


.bottom-menu a {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  color: #000;
  text-decoration: none;
  font-size: 14px;
}
.menu-item {
  flex-basis: 25%;
  height: 60px;
  vertical-align: middle;
}
.bottom-menu img {
  width:30px;
  height:30x;
  margin-top: 15px;
}

.active-menu {
  background-color: #ddd;
  border-radius: 5px;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
}

/* CSS from course */
body {
  background-color: #232325 ;
  color: #D7DADC;
  font-family: sans-serif;
    margin-top: 4rem;
  }
  
  h1, h2, h3, h4, h5, h6 {
    color: #444444;
  }
  
  
  .flashcard {
    font-weight: 500;
    background: #3a3a3d;
    width: 100%;
    min-height: 100px;
    height: auto;
    border: 3px solid #586069;
    border-radius: 5px;
    position: relative;
    perspective: 500px;
    margin-bottom: 15px;
    text-align: center;
}
.flashcard_event {
  font-weight: 500;
  background: #3a3a3d;
  width: 100%;
  min-height: 100px;
  height: 450px;
  border: 3px solid #586069;
  border-radius: 5px;
  position: relative;
  perspective: 500px;
  margin-bottom: 15px;
  text-align: center;
}

.flashcard_movie, .flashcard_person {
  font-weight: 500;
  background: #2E333A;
  width: 100%;
  height: 450px;
  border: 3px solid #586069;
  border-radius: 5px;
  position: relative;
  perspective: 1000px;
  margin-bottom: 20px;
}

.front, .back {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    transition: transform 0.6s;
    overflow: auto;
}

/* .front {
    background-color: #fff;
} */

.back {
    transform: rotateY(180deg);
    background-color:#2E333A;
    color: #D7DADC;
}

.back-event {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  font-weight: bold;
  text-align: center;

}

.flipped .front {
    transform: rotateY(180deg);
}

.flipped .back {
    transform: rotateY(0deg);
}

.image-container {
  background-color: black;
  display: flex;
  justify-content: center; /* horizontally center the content */
  align-items: center; /* vertically center the content */
  overflow: hidden; 
}

.swiper-slide{
  display: flex;
  justify-content: center; /* horizontally center the content */
  align-items: center; /* vertically center the content */
}

img {
  max-width: 100%;
  max-height: 100%;
  display: block;
}

/* Button at the bottom for refresh the paging.  */
.generate-button {
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  box-shadow: 0 2px 5px rgba(255, 255, 255, 0.7);
  margin-bottom: 60px;
  width: 100%;
}

.generate-button:hover {
  background-color: #3e8e41;
}

.generate-button:hover {
  background-color: #FF1493;
}

.generate-button:active {
  transform: translateY(2px);
}

.generate-button:before {
  font-weight: 900;
  margin-right: 10px;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.generate-button:hover:before {
  opacity: 1;
}

.generate-button:hover {
  background-color: #3e8e41;
}


/* Buttons at the bottom of movie image  */
.img-nav button {
  /* display: inline-block; */
  color: black;
  /* text-align: center; */
  /* padding: 14px; */
  text-decoration: none;
  font-size: 17px;
  border-radius: 5px;
  margin-bottom: 10px;
}

  /* Style the table  for the movie flashcard information section*/
  table {
    border-collapse: collapse;
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
  }
  
  /* Style the table cells */
  td, th {
    border: 2px solid #586069;
    padding: 8px;
    text-align: left;
    font-size: 16px;
  }
  
  /* Style the table header cells */
  th {
    background-color: #22272E;
    font-weight: bold;
  }
  
  /* Style alternating rows */
  tr:nth-child(even) {
    background-color: #49515c;
  }

  tr:nth-child(odd) {
    background-color: #22272E;
  }

  table.event {
    border-collapse: collapse;
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
  }
  td.event, th.event {
    border: 2px solid #586069;
    padding: 8px;
    text-align: left;
    font-size: 16px;
    min-width: 120px;
  }
  tr.event:nth-child(even) {
    background-color: #3a3a3d;
  }

  tr.event:nth-child(odd) {
    background-color: #3a3a3d;
  }

/* Dropdown Box on Questions Page Styling */
.category-select-container, .continent-select-container{
  display: inline-block;
  width: auto;
  background-color: #22272E;
  border: 1px solid #586069;
  border-radius: 4px;
  padding: 10px;
  margin-bottom: 10px
}


/* Dropdown Box on Movie Page Styling */
.filter-container {
  display: flex; /* display the container as a flex container */
  flex-wrap:nowrap; /* allow the boxes to wrap to the next row if necessary */
}

.genre-select-container, .year-select-container {
  display: inline-block;
  width: 50%;
  background-color: #2E333A;
  border: 1px solid #586069;
  border-radius: 4px;
  padding: 10px;
  margin-bottom: 10px;
}

label {
  font-size: 16px;
}

.genre-select {
  flex:1;
  width:calc(70%) ; /* let the select element fill the remaining space */
}

select {
  font-size: 16px;
  padding: 10px;
  border: none;
  border-radius: 4px;
  background-color: #8b95af;
  color: #D7DADC;
  cursor: pointer;
  text-align: center;
}

option:first-of-type {
  color: #999;
}

option:not(:first-of-type):hover {
  background-color: #ddd;
}


/* Style the Swiper pagination and buttons */
.swiper-pagination-bullets {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.swiper-pagination-bullet {
  opacity: 0.5; 
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin: 0 5px;
  background-color: grey;
}

.swiper-pagination-bullet-active {
  background-color: dodgerblue;
  opacity: 1; 
}

.swiper-button-prev, .swiper-button-next {
  color: rgb(223, 223, 223); 
  height: 15px; 
  width: 15px; 
  position: absolute;
  top: 50%;
  transform: translateY(-50%);

}

.swiper-counter {
  position: absolute;
  border-radius: 20px;
  top: 10px;
  right: 10px;
  padding: 1px 10px;
  background-color: rgba(109, 109, 109, 0.5);
  color: #fff;
  font-size: 14px;
  z-index: 9998; /* Set a high z-index to put the element in front*/
}

/* Geography Page */
#map {
  height: 100%;
}

.map-config-container{
  padding-top: 5px;
  padding-bottom: 5px;
}

.toggle {
  cursor: pointer;
  display: inline-block;
}

.toggle-switch {
  display: inline-block;
  background: #ccc;
  border-radius: 16px;
  width: 58px;
  height: 32px;
  position: relative;
  vertical-align: middle;
  transition: background 0.25s;
}
.toggle-switch:before, .toggle-switch:after {
  content: "";
}
.toggle-switch:before {
  display: block;
  background: linear-gradient(to bottom, #fff 0%, #eee 100%);
  border-radius: 50%;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.25);
  width: 24px;
  height: 24px;
  position: absolute;
  top: 4px;
  left: 4px;
  transition: left 0.25s;
}
.toggle:hover .toggle-switch:before {
  background: linear-gradient(to bottom, #fff 0%, #fff 100%);
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.5);
}
.toggle-checkbox:checked + .toggle-switch {
  background: #56c080;
}
.toggle-checkbox:checked + .toggle-switch:before {
  left: 30px;
}

.toggle-checkbox {
  position: absolute;
  visibility: hidden;
}

.toggle-label {
  margin-left: 5px;
  position: relative;
  top: 2px;
}
