{% extends "layout.html" %}
{% block content %}
    <div class="filter-options-container">
        <div  class="year-select-container">
            <label for="year-select">Year:</label>
            {% if year_filter is none %}
                {% set year_filter = 'All' %}
            {% endif %}
            <button id="dropdown-button-year" class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false" value ="{{year_filter}}">
                {{year_filter ~ 's' if year_filter != 'All' else 'All'}}
            </button>
            <ul class="dropdown-menu dropdown-menu-dark">
                <li><a class="dropdown-item dropdown-item-year" href="{{ url_for('main.events') }}" value="All">All</a></li>
            {% set decades = (years_range[1]-years_range[0])/10 %}
            {% for decade in range(0,decades|int) %}
                {% set year = decade*10 + years_range[0]%}
                {% set year_filter = year|string%}
                <li><a class="dropdown-item dropdown-item-year" href="{{ url_for('main.events',year_filter = year_filter) }}" value ="{{year_filter}}">{{year_filter}}s</a></li>
            {% endfor %}
            </ul>
        </div>
    </div> 
        <div class="flashcard_event">
            <div class="front">
                <table class = "event">
                    {% for event in events %}
                    <tr class = "event">
                        <td class = "event">{{ event.event_date }}</td>
                        <td class = "event">{{ event.event_desc }}</td>
                    </tr>
                    {% endfor %}
                </table>
                
            </div>
            <div class="back-event back">
                <p>{{ events[0].event_year }}</p>
            </div>
        </div>  
        <button class="generate-button" onclick="refreshPage()">Generate Random Events</button>
    </div>
{% endblock content %}