{% extends "layout.html" %}
{% block content %}
    <div  class="category-select-container">
        <label for="category-select">Category:</label>
        <select id="category-select" onchange="redirectToPage(this.id)">

                <option value="{{category_filter}}">{{category_filter| default('All',true)}}</option>
                {% for category in categories %}
                    <option value="{{ url_for('main.home',category_filter = category[0]) }}">{{category[0]}}</option>
                {% endfor %}
        </select>
    </div>
    {% for question in questions.items %}

                <div class="flashcard" data-category= {{question.category}}>
                    <div class="front">
                        <p>{{ question.question }}</p>
                    </div>
                    <div class="back">
                    <p class="article-content">Answer: {{ question.answer }}</p>
                    </div>
                </div>

    {% endfor %}
    <div>
        <button class="generate-button" onclick="refreshPage()">Generate Random Questions</button>
    </div>
{% endblock content %}