{% extends "layout.html" %}
{% block content %}
    <div class="filter-options-container">
        <div  class="filter-select-container">
            <label for="category-select">Category:</label>
            {% if category_filter is none %}
                {% set category_filter_display = 'All' %}
             {% else %}
                {% set category_filter_display = category_filter %}
            {% endif %}
            <button id="dropdown-button-filter" class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false" value ="{{category_filter_display}}">
                {{category_filter_display| default('All',true)}}
            </button>
            <ul class="dropdown-menu dropdown-menu-dark">
                <li><a class="dropdown-item dropdown-item-filter" href="{{ url_for('main.home') }}" value="All">All</a></li>
            {% for category in categories %}
                <li><a class="dropdown-item dropdown-item-filter" href="{{ url_for('main.home',category_filter = category[0]) }}" value ="{{category[0]}}">{{category[0]}}</a></li>
            {% endfor %}
            </ul>
        </div>
    </div> 
    {% for question in questions.items %}

                <div class="flashcard" data-category= {{question.category}}>
                    <div class="front">
                        <p>{{ question.question }}</p>
                    </div>
                    <div class="back">
                    <p class="article-content">Answer: <a href="https://en.wikipedia.org/wiki/{{ question.answer|title() }}">{{ question.answer|title() }}</a></p>
                    </div>
                </div>

    {% endfor %}
    <div>
        <button class="generate-button" onclick="refreshPage()">Generate Random Questions</button>
    </div>
{% endblock content %}