{% extends "layout.html" %}
{% block content %}
        <div>
            <select id="genre-select" onchange="redirectToPage(this.value)">
                <option value="all">{{movie.genres}}</option>
                {% for category in categories %}
                <option value="genre_holder">{{movie.genres}}</option>
                {% endfor %}
            </select>
        </div>
        <div class="flashcard_movie">
            <div class="front" class="image-container">
                <img src ="{{ movie.still_image }}" alt="Image">
            </div>
            <div class="back">
            <p class="article-content">Answer: {{ movie.primaryTitle }}</p>
            Source: IMDb
            </div>
        </div>      
{% endblock content %}