{% extends "layout.html" %}
{% block content %}
    <div>
        <select id="genre-select" onchange="redirectToPage(this.value)">
            <option value="all">{{genre_filter}}</option>
            {% for genre in genres %}
            <option value="{{ url_for('main.movies',genre_filter = genre) }}">{{genre}}</option>
            {% endfor %}
        </select>
    </div>
        
    <div class="flashcard_movie">
        <div class="front" class="image-container">
            <!-- {% for image in movie.still_imagery %}
            <img src ="{{image}}" alt="Image">
            {% endfor %} -->
            <img id="contentImage" src ="{{ movie.still_imagery[0] }}" alt="Image">
        </div>
        <div class="back">
        <p class="article-content">Answer: {{ movie.primaryTitle }}</p>
        <p>Year: {{movie.startYear}}</p>
        <p>Source: IMDb</p>
        <p>Genre(s): {{movie.genres}}</p>
        <p>Storyline: {{movie.storyline}}</p>
        </div>
    </div>  
    <div class="img-nav">    
        {% for image in movie.still_imagery %} 
            {% if loop.index == 1 %}
                <button class = "active" id="{{loop.index}}" value="{{image}}"  onclick="changeImage(this)">{{loop.index}} </button>
            {% else %}
                <button id="{{loop.index}}"  value="{{image}}" onclick="changeImage(this)">{{loop.index}} </button>
            {% endif %}
        {% endfor %}
    </div>    
    <div>
        <button class="generate-button" onclick="refreshPage()">Generate Random Movie</button>
    </div>
{% endblock content %}