{% extends "layout.html" %}
{% block content %}
    <div class="filter-options-container">
        <div  class="filter-select-container">
            <label for="genre-select">Genre:</label>
            {% if genre_filter is none %}
                {% set genre_filter_display = 'All' %}
            {% else %}
                {% set genre_filter_display = genre_filter %}
            {% endif %}
            <button id="dropdown-button-filter" class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false" value ="{{genre_filter_display}}">
                {{genre_filter_display| default('All',true)}}
            </button>
            <ul class="dropdown-menu dropdown-menu-dark">
                <li><a class="dropdown-item dropdown-item-filter" href="{{ url_for('main.movies') }}" value="All">All</a></li>
            {% for genre in genres%}
                <li><a class="dropdown-item dropdown-item-filter" href="{{ url_for('main.movies',genre_filter= genre, year_filter=year_filter) }}" value="{{genre}}">{{genre}}</a></li>
            {% endfor %}
            </ul>
        </div>
        <div  class="year-select-container">
            <label for="year-select">Release Year:</label>
            {% if year_filter is none %}
                {% set year_filter = 'All' %}
            {% endif %}
            <button id="dropdown-button-year" class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false" value ="{{year_filter}}">
                {{year_filter ~ 's' if year_filter != 'All' else 'All'}}
            </button>
            <ul class="dropdown-menu dropdown-menu-dark">
                <li><a class="dropdown-item dropdown-item-year" href="{{ url_for('main.movies',genre_filter= genre_filter) }}" value="All">All</a></li>
            {% set decades = (years_range[1]-years_range[0])/10 %}
            {% for decade in range(0,decades|int) %}
                {% set year = decade*10 + years_range[0]%}
                {% set year_filter = year|string%}
                <li><a class="dropdown-item dropdown-item-year" href="{{ url_for('main.movies',genre_filter= genre_filter,year_filter = year_filter) }}" value ="{{year_filter}}">{{year_filter}}s</a></li>
            {% endfor %}
            </ul>
        </div>
    </div>
    <div class="flashcard_movie">
        <div class="front image-container swiper-container " id="imageContainer" >
            <div class="swiper-wrapper">
                {% for image in movie.still_imagery %} 
                <div class="swiper-slide"><img src="{{image}}"></div>
                {% endfor %}
            </div>
            <!-- Add pagination counter -->
            <div class="swiper-pagination"></div>
            <div class="swiper-counter">1/{{movie.still_imagery|length}}</div>
        </div>
        <div class="back">
            <table>
                <tr>
                    <td>Name</td>
                    <td>{{ movie.primaryTitle }}</td>
                </tr>
                <tr>
                    <td>Year</td>
                    <td>{{ movie.startYear }}</td>
                </tr>
                <tr>
                    <td>Source</td>
                    <td>IMDb</td>
                </tr>
                <tr>
                    <td>Director</td>
                    <td>{{ movie.directorName }}</td>
                </tr>
                <tr>
                    <td>Genre(s)</td>
                    {% set genre_list =  movie.genres.split(",") %}
                    <td>{% for item in genre_list %}<li>{{item}}</li>{% endfor %} </td>
                </tr>
                <tr>
                    <td>Storyline</td>
                    <td>{{ movie.storyline }}</td>
                </tr>
                <tr>
                    <td>Cast</td>
                    <td>{% for character in movie.characters %}<li>{{character}}</li>{% endfor %} </td>
                </tr>
            </table>
        </div>
    </div>  
        <button class="generate-button" onclick="refreshPage()">Generate Random Movie</button>
    </div>
{% endblock content %}