{% extends "layout.html" %}
{% block content %}
    <div class="filter-options-container">
        <div  class="filter-select-container">
            <label for="genre-select">Profession:</label>
            {% if primProf_filter is none %}
                {% set primProf_filter_display = 'All' %}
            {% else %}
                {% set primProf_filter_display = primProf_filter %}
            {% endif %}
            <button id="dropdown-button-filter" class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false" value ="{{primProf_filter_display}}">
                {{primProf_filter_display| default('All',true)}}
            </button>
            <ul class="dropdown-menu dropdown-menu-dark">
                <li><a class="dropdown-item dropdown-item-filter" href="{{ url_for('main.people', year_filter=year_filter) }}" value="All">All</a></li>
            {% for prof in primProf_list%}
                <li><a class="dropdown-item dropdown-item-filter" href="{{ url_for('main.people',primProf_filter= prof, year_filter=year_filter) }}" value="{{prof}}">{{prof}}</a></li>
            {% endfor %}
            </ul>
        </div>
        <div  class="year-select-container">
            <label for="year-select">Birth Year:</label>
            {% if year_filter is none %}
                {% set year_filter = 'All' %}
            {% endif %}
            <button id="dropdown-button-year" class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false" value ="{{year_filter}}">
                {{year_filter ~ 's' if year_filter != 'All' else 'All'}}
            </button>
            <ul class="dropdown-menu dropdown-menu-dark">
                <li><a class="dropdown-item dropdown-item-year" href="{{ url_for('main.people',primProf_filter= primProf_filter) }}" value="All">All</a></li>
            {% set decades = (years_range[1]-years_range[0])/10 %}
            {% for decade in range(0,decades|int) %}
                {% set year = decade*10 + years_range[0]%}
                {% set year_filter = year|string%}
                <li><a class="dropdown-item dropdown-item-year" href="{{ url_for('main.people',primProf_filter= primProf_filter,year_filter = year_filter) }}" value ="{{year_filter}}">{{year_filter}}s</a></li>
            {% endfor %}
            </ul>
        </div>
    </div>
    <div class="flashcard_person">
        <div class="front image-container swiper-container " id="imageContainer" >
            <div class="swiper-wrapper">
                {% for image in person.imagery %} 
                <div class="swiper-slide"><img src="{{image}}"></div>
                {% endfor %}
            </div>
            <!-- Add pagination counter -->
            <div class="swiper-pagination"></div>
            <div class="swiper-counter">1/{{person.imagery|length}}</div>
        </div>
        <div class="back">
            <table>
                <tr>
                    <td>Name</td>
                    <td><a href="https://en.wikipedia.org/wiki/{{ person.primaryName }}">{{ person.primaryName }}</a></td>
                </tr>
                <tr>
                    <td>Birth Year</td>
                    <td>{{ person.birthYear }}</td>
                </tr>
                <tr>
                    <td>Source</td>
                    <td>IMDb</td>
                </tr>
                <tr>
                    <td>Profession(s)</td>
                    {% set prof_list =  person.primaryProfession.split(",") %}
                    <td>{% for item in prof_list %}<li>{{item}}</li>{% endfor %} </td>
                </tr>
                <tr>
                    <td>Known For</td>
                    <td>{% for item in person.knownForList %}<li><a href="https://en.wikipedia.org/wiki/{{item}}">{{item}}</a></li>{% endfor %}</td>
                </tr>
            </table>
        </div>
    </div>  
        <button class="generate-button" onclick="refreshPage()">Generate Random Person</button>
    </div>
{% endblock content %}